{
  "First Participant": {
    "email": "participant1@example.com",
    "invalid_matches": [
      "First Participant"
    ]
  },
  "Second Participant": {
    "email": "participant2@example.com",
    "invalid_matches": [
      "Second Participant",
    ]
  }
}